version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: auth_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: authdb
    ports:
      - "5232:5432"
    volumes:
      - auth_db_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  auth_db_data: